<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MARKET_ANALYZE</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <header>
        <h1>Добро пожаловать на сайт</h1>
        <nav>
            <ul>
                <li><a href="/about">О нас</a></li>
                <li><a href="/stats">Анализ рынка</a></li>
                <li><a href="/contact">Контакты</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <div class="top-right-links">
                <a href="/account">Личный кабинет</a>
            </div>
        </section>
    </main>

<footer>
        &copy; 2024 Название вашей компании. Все права защищены.
</footer>

</body>
</html>